NEXT_PUBLIC_API_BASE_URL="http://localhost:3000"

NEXT_PUBLIC_DEMO_ADMIN_EMAIL="admin@demo.com"
NEXT_PUBLIC_DEMO_ADMIN_PASSWORD="demo1234"
NEXT_PUBLIC_DEMO_SUPPLIER_EMAIL="fornecedor@demo.com"
NEXT_PUBLIC_DEMO_SUPPLIER_PASSWORD="demo1234"
NEXT_PUBLIC_DEMO_USER_EMAIL="usuario@demo.com"
NEXT_PUBLIC_DEMO_USER_PASSWORD="demo1234"
